@mixin no-style {
  list-style-type: none;
  text-decoration: none;
}

@mixin uppercase {
  text-transform: uppercase;
}

@mixin before-elem {
  position: absolute;
  display: block;
  content: "";
  width: 77px;
  height: 75px;
}
