.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
}

.tag {
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 40px;
}

.social {
  @include no-style;
  padding: 0 65px 40px 65px;
  display: flex;
  justify-content: center;
}

.social__item {
  background-color: #81b3d2;
  margin-right: 5px;

  &:last-child {
    margin: 0;
  }
}

.social__item-link {
  margin: 0 auto;
  display: block;
  fill: #fff;
  width: 46px;
  height: 48px;


  &--twitter {
    padding-top: 17px;
    width: 18px;
    height: 14px;
  }

  &--facebook {
    padding-top: 14px;
    width: 9px;
    height: 18px;
  }

  &--youtube {
    padding-top: 17px;
    width: 20px;
    height: 14px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

}

.copyright__text {
  padding-right: 10px;
}

.copyright__item-link {
  &--htmlacademy {
    display: block;
    width: 27px;
    height: 34px;
    background: url("/img/logo-htmlacademy.svg");
  }
}

@media screen and (min-width: 768px) {
  .tag {
    padding: 0;
  }

  .social {
    padding: 0;
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {

}
